<div>
    <% if params[:action] == 'search' %>
        <div class="results-block">
            <%= bootstrap_flash %>
        </div>
    <% end %>
</div>

<% if @users and @users.size > 0 %>
    
    <div id="friend-lookup-results" class="well results-block col-md-12">
        <table class="search-results-table col-md-12">
            <tbody>
                <% @users.each do |friend| %>
                    <tr>
                        <td><strong>Name:</strong> <%= friend.full_name %>
                        <strong>Email: </strong> <%= friend.email %>
                        <%= link_to "View profile", user_path(friend), class: "btn btn-success btn-xs" %>
                        <% if current_user.not_friends_with?(friend.id) %>
                            <%= link_to "Add to friends", add_friend_path(user: current_user, friend: friend), 
                                                class: "btn btn-primary btn-xs", method: :post %></td>
                        <% else %>
                            <span class="label label-default">ALREADY FRIENDS </span>
                        <% end %>
                        
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>
    
<% end %>